# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: unbounded-operator
  namespace: {{ default "unbounded-system" .Namespace }}
  labels:
    app.kubernetes.io/name: unbounded-operator
    app.kubernetes.io/component: controller
