# Build artifacts
bin/
dist/
inventory.db
*.exe
*.exe~
*.dll
*.so
*.dylib

# Developer Stuff
hack/scratch
tmp/
.vm/

# Kubernetes
.kube/

# SSH
*_rsa
*_ed25519
*.pub

# Go tools
*.test
*.out
coverage.txt

# Logs
*.log

# Dependency directories
vendor/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS generated
.DS_Store
Thumbs.db

# AI Tools
.opencode