# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: racer-controller
  namespace: {{ .Namespace | default "unbounded-system" }}
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: racer-controller
