# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Recover Unbounded Agent Daemon to last known good binary

[Service]
Type=oneshot
ExecStart={{ .DaemonRecoveryScriptPath }}
