[Unit]
Description=Kubelet
ConditionPathExists={{.KubeletBinPath}}
Wants=network-online.target containerd.service
After=network-online.target containerd.service

[Service]
Restart=always
RestartSec=1
RestartMaxDelaySec=60
RestartSteps=10
SuccessExitStatus=143
ExecStart={{.KubeletBinPath}} \
        --config={{.KubeletConfigurationPath}} \
        $KUBELET_NODE_CONFIG_ARGS \
        $KUBELET_TUNING_ARGS \
        $KUBELET_KUBECONFIG_ARGS \
        $KUBELET_EXTRA_ARGS

[Install]
WantedBy=multi-user.target
