[Unit]
Description=Prepare Unbounded LocalDNS host network
After=nftables-flush.service
Before=systemd-nspawn@{{.MachineName}}.service

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/unbounded-localdns-network
