# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: unbounded-net-node
  namespace: {{ default "unbounded-system" .Namespace }}
  labels:
    app.kubernetes.io/name: unbounded-net-node
    app.kubernetes.io/component: node
automountServiceAccountToken: true
