# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: unbounded-net-node
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: unbounded-net-node
    app.kubernetes.io/component: node
automountServiceAccountToken: true
