[Unit]
Description=Flush nftables rules to a clean state
Before=systemd-nspawn@.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/nft -f {{.NFTablesClearPath}}
RemainAfterExit=no

[Install]
RequiredBy=systemd-nspawn@.service
