apiVersion: v1
kind: ConfigMap
metadata:
  name: token-refresher
  namespace: {{ default "unbounded-system" .Namespace }}
  labels:
    app.kubernetes.io/name: token-refresher
data:
  config.yaml: |
    metricsAddr: ":8080"
    probeAddr: ":8081"
    enableLeaderElection: true
