# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

[Unit]
Description=Regenerate configuration for {{.MachineName}}
Wants=systemd-udev-settle.service
After=systemd-udev-settle.service

[Service]
Type=oneshot
ExecStart={{.AgentBinaryPath}} regenerate-config {{.MachineName}}
