# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

[Unit]
Description=Regenerate configuration for {{.MachineName}}

[Service]
Type=oneshot
ExecStart={{.AgentBinaryPath}} regenerate-config {{.MachineName}}
