# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Regenerate configuration for {{.MachineName}}
Wants=systemd-udev-settle.service
After=systemd-udev-settle.service

[Service]
Type=oneshot
ExecStart={{.AgentBinaryPath}} nspawn-lifecycle pre-start {{.MachineName}}
Restart=on-failure
RestartMode=direct
RestartSec=10s
