[Unit]
Description=Prometheus Node Exporter
Documentation=https://github.com/prometheus/node_exporter
After=network.target

[Service]
Type=simple
ExecStart={{ .BinaryPath }}{{ range .Args }} {{ systemdQuoteArgument . }}{{ end }}
Restart=on-failure
RestartSec=10
NoNewPrivileges=yes
ProtectHome=yes
ProtectSystem=strict
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
