#cloud-config
manage_etc_hosts: true
growpart:
  mode: auto
  devices:
  - /
resize_rootfs: true
swap:
  size: 0
users:
- name: unbounded-metal
  lock_passwd: true
  shell: /bin/bash
  sudo: ALL=(ALL) NOPASSWD:ALL
ssh_pwauth: false
write_files:
- path: /etc/unbounded-agent/config.json
  permissions: '0600'
  content: |
    {
      "MachineName": "{{ .Machine.Name }}",
      "Cluster": {
        "CaCertBase64": "",
        "ClusterDNS": "{{ .ClusterDNS }}",
        "Version": "{{ .KubernetesVersion }}"
      },
      "Kubelet": {
        "ApiServer": "{{ .ApiserverURL }}",
        "Labels": {
          "kubernetes.azure.com/managed": "false",
          "kubernetes.azure.com/cluster": "unbounded-metal"
        }
      },{{ if .AgentImage }}
      "OCIImage": "{{ .AgentImage }}",{{ end }}
      "Attest": {
        "URL": "{{ .ServeURL }}"
      }
    }
- path: /etc/cloud/cloud-init.disabled
  defer: true
  content: ''
runcmd:
- - /bin/bash
  - -c
  - |
    set -eo pipefail
    export UNBOUNDED_AGENT_CONFIG_FILE=/etc/unbounded-agent/config.json
    echo "Running unbounded-agent start..."
    /usr/local/bin/unbounded-agent start
    echo "Node bootstrap complete."
