#cloud-config
manage_etc_hosts: true
growpart:
  mode: auto
  devices:
  - /
resize_rootfs: true
swap:
  size: 0
users:
- name: unbounded-metal
  lock_passwd: true
  shell: /bin/bash
  sudo: ALL=(ALL) NOPASSWD:ALL
ssh_pwauth: false
reporting:
  unbounded:
    type: webhook
    endpoint: {{ .ServeURL }}/cloudinit/log
write_files:
- path: /etc/unbounded-agent/config.json
  permissions: '0600'
  content: |
    {{ .AgentConfigJSON }}
- path: /etc/cloud/cloud-init.disabled
  defer: true
  content: ''
runcmd:
- - /bin/bash
  - -c
  - |
    set -eo pipefail
    export UNBOUNDED_AGENT_CONFIG_FILE=/etc/unbounded-agent/config.json
    echo "Running unbounded-agent start..."
    /usr/local/bin/unbounded-agent start
    echo "Node bootstrap complete."
