apiVersion: v1
kind: Service
metadata:
  name: machina-controller
  namespace: {{ default "unbounded-kube" .Namespace }}
  labels:
    app: machina-controller
spec:
  type: ClusterIP
  selector:
    app: machina-controller
  ports:
    - port: 8080
      targetPort: metrics
      protocol: TCP
      name: metrics
