{{- $controllerName := default "machine-ops-controller" .ControllerName }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $controllerName }}
  namespace: {{ default "unbounded-kube" .Namespace }}
  labels:
    app.kubernetes.io/name: {{ $controllerName }}
    app.kubernetes.io/component: controller
