apiVersion: v1
kind: ServiceAccount
metadata:
  name: machine-ops-controller
  namespace: {{ default "unbounded-kube" .Namespace }}
  labels:
    app.kubernetes.io/name: machine-ops-controller
    app.kubernetes.io/component: controller
