apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: machine-ops-controller
  labels:
    app.kubernetes.io/name: machine-ops-controller
    app.kubernetes.io/component: controller
rules:
  - apiGroups: ["unbounded-cloud.io"]
    resources: ["machines"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["unbounded-cloud.io"]
    resources: ["machineoperations"]
    verbs: ["get", "list", "watch", "delete"]
  - apiGroups: ["unbounded-cloud.io"]
    resources: ["machineoperations/status"]
    verbs: ["get", "update", "patch"]
  - apiGroups: ["unbounded-cloud.io"]
    resources: ["machineoperations/finalizers"]
    verbs: ["update"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: machine-ops-controller
  labels:
    app.kubernetes.io/name: machine-ops-controller
    app.kubernetes.io/component: controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: machine-ops-controller
subjects:
  - kind: ServiceAccount
    name: machine-ops-controller
    namespace: {{ default "unbounded-kube" .Namespace }}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: machine-ops-controller
  namespace: {{ default "unbounded-kube" .Namespace }}
  labels:
    app.kubernetes.io/name: machine-ops-controller
    app.kubernetes.io/component: controller
rules:
  - apiGroups: ["coordination.k8s.io"]
    resources: ["leases"]
    verbs: ["get", "create", "update", "patch", "delete"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["create", "patch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: machine-ops-controller
  namespace: {{ default "unbounded-kube" .Namespace }}
  labels:
    app.kubernetes.io/name: machine-ops-controller
    app.kubernetes.io/component: controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: machine-ops-controller
subjects:
  - kind: ServiceAccount
    name: machine-ops-controller
    namespace: {{ default "unbounded-kube" .Namespace }}
