apiVersion: v1
kind: ServiceAccount
metadata:
  name: playpen-operator
  namespace: {{ default "playpen" .Namespace }}
  labels:
    app.kubernetes.io/name: playpen-operator
    app.kubernetes.io/component: operator
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: playpen-runner
  namespace: {{ default "playpen" .Namespace }}
  labels:
    app.kubernetes.io/name: playpen-runner
    app.kubernetes.io/component: runner
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: playpen-control-plane
  namespace: {{ default "playpen" .Namespace }}
  labels:
    app.kubernetes.io/name: playpen-control-plane
    app.kubernetes.io/component: control-plane
