apiVersion: v1
kind: ServiceAccount
metadata:
  name: playpen-operator
  namespace: {{ default "playpen" .Namespace }}
  labels:
    app.kubernetes.io/name: playpen-operator
    app.kubernetes.io/component: operator
