---
apiVersion: v1
kind: Secret
metadata:
  name: playpen-bmc
  namespace: {{ default "unbounded-kube" .Namespace }}
  labels:
    app.kubernetes.io/name: playpen
type: Opaque
stringData:
  password: {{ default "playpen" .BMCPassword | quote }}
