apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: playpen-operator
  labels:
    app.kubernetes.io/name: playpen-operator
    app.kubernetes.io/component: operator
rules:
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["authorization.k8s.io"]
    resources: ["subjectaccessreviews"]
    verbs: ["create"]
  - apiGroups: ["apiregistration.k8s.io"]
    resources: ["apiservices"]
    resourceNames: ["v1alpha1.playpen.unbounded-cloud.io"]
    verbs: ["get", "update"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: playpen-operator
  labels:
    app.kubernetes.io/name: playpen-operator
    app.kubernetes.io/component: operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: playpen-operator
subjects:
  - kind: ServiceAccount
    name: playpen-operator
    namespace: {{ default "playpen" .Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: playpen-operator
  namespace: kube-system
  labels:
    app.kubernetes.io/name: playpen-operator
    app.kubernetes.io/component: operator
rules:
  - apiGroups: [""]
    resources: ["configmaps"]
    resourceNames: ["extension-apiserver-authentication"]
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: playpen-operator
  namespace: kube-system
  labels:
    app.kubernetes.io/name: playpen-operator
    app.kubernetes.io/component: operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: playpen-operator
subjects:
  - kind: ServiceAccount
    name: playpen-operator
    namespace: {{ default "playpen" .Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: playpen-operator
  namespace: {{ default "playpen" .Namespace }}
  labels:
    app.kubernetes.io/name: playpen-operator
    app.kubernetes.io/component: operator
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch", "create", "patch", "update", "delete"]
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "create"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: playpen-operator
  namespace: {{ default "playpen" .Namespace }}
  labels:
    app.kubernetes.io/name: playpen-operator
    app.kubernetes.io/component: operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: playpen-operator
subjects:
  - kind: ServiceAccount
    name: playpen-operator
    namespace: {{ default "playpen" .Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: playpen-runner
  namespace: {{ default "playpen" .Namespace }}
  labels:
    app.kubernetes.io/name: playpen-runner
    app.kubernetes.io/component: runner
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "watch", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: playpen-runner
  namespace: {{ default "playpen" .Namespace }}
  labels:
    app.kubernetes.io/name: playpen-runner
    app.kubernetes.io/component: runner
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: playpen-runner
subjects:
  - kind: ServiceAccount
    name: playpen-runner
    namespace: {{ default "playpen" .Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: playpen-user
  labels:
    app.kubernetes.io/name: playpen-operator
    app.kubernetes.io/component: operator
rules:
  - apiGroups: ["playpen.unbounded-cloud.io"]
    resources: ["allocs"]
    verbs: ["create"]
