---
apiVersion: v1
kind: Service
metadata:
  name: playpen
  namespace: {{ default "unbounded-kube" .Namespace }}
  labels:
    app.kubernetes.io/name: playpen
spec:
  clusterIP: None
  selector:
    app.kubernetes.io/name: playpen
  ports:
    - name: vxlan
      port: {{ default "4789" .VXLANPort }}
      protocol: UDP
      targetPort: vxlan
    - name: redfish
      port: {{ default "8443" .BMCPort }}
      protocol: TCP
      targetPort: redfish
