{{- if .BootLease }}
version: 2
ethernets:
  provisioning:
    match:
      macaddress: {{ yamlQuote .BootLease.MAC }}
    dhcp4: false
    dhcp6: false
    addresses:
      - {{ yamlQuote (printf "%s/%d" .BootLease.IPv4 (subnetPrefix .BootLease.SubnetMask)) }}
{{- if .BootLease.Gateway }}
    routes:
      - to: default
        via: {{ yamlQuote .BootLease.Gateway }}
{{- end }}
{{- if (ipAddresses .BootLease.DNS) }}
    nameservers:
      addresses:
{{- range (ipAddresses .BootLease.DNS) }}
        - {{ yamlQuote . }}
{{- end }}
{{- end }}
{{- else }}
version: 2
ethernets: {}
{{- end }}
