# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: unbounded-net-controller
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: unbounded-net-controller
    app.kubernetes.io/component: controller
automountServiceAccountToken: true
