# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: unbounded-net-controller
  namespace: {{ default "unbounded-system" .Namespace }}
  labels:
    app.kubernetes.io/name: unbounded-net-controller
    app.kubernetes.io/component: controller
automountServiceAccountToken: true

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: unbounded-net-kube-proxy
  namespace: {{ default "unbounded-system" .Namespace }}
  labels:
    app.kubernetes.io/name: unbounded-net-kube-proxy
    app.kubernetes.io/component: kube-proxy
automountServiceAccountToken: true
