[Unit]
Description=Kubelet
ConditionPathExists={{.KubeletBinPath}}
Wants=network-online.target containerd.service
After=network-online.target containerd.service

[Service]
Restart=always
RestartSec=1
RestartMaxDelaySec=60
RestartSteps=10
SuccessExitStatus=143
ExecStart={{.KubeletBinPath}} \
        --config="" \
        --enable-server \
        --volume-plugin-dir=/etc/kubernetes/volumeplugins \
        --pod-manifest-path=/etc/kubernetes/manifests/ \
        --runtime-request-timeout=15m \
        --container-runtime-endpoint=unix:///run/containerd/containerd.sock \
        --address=0.0.0.0 \
        --anonymous-auth=false \
        --authentication-token-webhook=true \
        --authorization-mode=Webhook \
        --cgroup-driver=systemd \
        --cgroups-per-qos=true \
        --enforce-node-allocatable=pods \
        --cluster-domain=cluster.local \
        --event-qps=0 \
        --node-status-update-frequency=10s \
        --pod-max-pids=-1 \
        --protect-kernel-defaults=true \
        --read-only-port=0 \
        --resolv-conf=/etc/resolv.conf \
        --streaming-connection-idle-timeout=4h \
        --tls-cipher-suites=TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_128_GCM_SHA256 \
        $KUBELET_NODE_CONFIG_ARGS \
        $KUBELET_TUNING_ARGS \
        $KUBELET_KUBECONFIG_ARGS \
        $KUBELET_EXTRA_ARGS

[Install]
WantedBy=multi-user.target
